- if current_user?(@person)
  = render :partial => "people/edit_profile_button"
- else
  = render :partial => "people/contact_us"
  %a.profile-contact-link{href: "/merchant_store/redirect.html?url=https://#{@person.merchant_canonical_name}.myshopmatic.com&store=#{@person.merchant_canonical_name}", target:"_blank" }
    .content
      = t("people.show.contact", :person => "Store")

